.button {
  border-radius: var(--input-border-radius);
  background-color: var(--color-blue-blue2);
  color: white;
  border: 0.1rem solid transparent;
  width: 100%;
  max-width: 20rem;
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;
  position: relative;
  gap: 1rem;
  transition: all 0.2s ease-in-out;
}
.button:hover,
.button:active {
  background-color: var(--color-blue-blue1);
}

@media (prefers-reduced-motion) {
  .button {
    transition: all 0.1s ease-in-out;
  }
}
