/* =============================================================================
Hero
==============================================================================*/
.container {
  background-image: linear-gradient(
      180deg,
      rgba(59, 59, 59, 0.3) 0%,
      rgba(59, 59, 59, 0.3) 100%
    ),
    url('/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.headline:after {
  content: '';
  display: block;
  width: 60%;
  height: 0.15rem;
  background-color: rgba(255, 255, 255, 1);
  margin: 1rem auto;
}
.searchContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.75rem;
  position: relative;
  width: clamp(10rem, 95vw, 31rem);
  border-radius: var(--input-border-radius);
}
.search-button {
  padding: 0;
  margin-left: 0.25rem;
  min-width: 2.75rem;
  min-height: 2.75rem;
}
.search-button:hover {
  filter: brightness(0.8);
}
.search-button img {
  display: block;
  width: 100%;
}
.search-icon {
  display: inline-block;
  background-image: url('/search-icon.svg');
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
}
