@import url('typography.css');
/* =============================================================================
CSS Variables
==============================================================================*/
:root {
  /* Colors  */
  --color-blue-blue1: rgba(26, 57, 112, 1);
  --color-blue-blue2: rgba(39, 80, 152, 1);
  --color-blue-blue3: rgba(59, 97, 163, 1);
  --color-blue-blue4: rgba(6, 149, 198, 1);
  --color-blue-blue5: rgba(62, 162, 205, 1);

  --color-purple-purple2: rgba(126, 70, 122, 1);

  --color-orange-orange2: rgba(240, 112, 58, 1);

  --color-green-green2: rgba(68, 168, 101, 1);

  --color-body-text-default: rgba(255, 255, 255, 1);

  --input-border-radius: 0.4rem;
}

/* =============================================================================
Normalize CSS 
==============================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  overflow: hidden auto;
}
body {
  line-height: 1.5;
  /* line-height >=1.5 on all body text (not headlines) is WCAG recommended */
  -webkit-font-smoothing: antialiased;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
address {
  font-style: inherit;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
ul,
menu,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}

/* =============================================================================
Global Styles
==============================================================================*/
body {
  color: var(--color-body-text-default);
}
.screen-reader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
