@import url('typography.css');
/* =============================================================================
CSS Variables
==============================================================================*/
:root {
  /* Colors  */
  --color-blue-blue1: rgba(26, 57, 112, 1);
  --color-blue-blue2: rgba(39, 80, 152, 1);
  --color-blue-blue3: rgba(59, 97, 163, 1);
  --color-blue-blue4: rgba(6, 149, 198, 1);
  --color-blue-blue5: rgba(62, 162, 205, 1);

  --color-purple-purple2: rgba(126, 70, 122, 1);

  --color-orange-orange2: rgba(240, 112, 58, 1);

  --color-green-green2: rgba(68, 168, 101, 1);

  --color-body-text-default: rgba(255, 255, 255, 1);

  --input-border-radius: 0.4rem;
}

/* =============================================================================
Normalize CSS 
==============================================================================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  overflow: hidden auto;
}
body {
  line-height: 1.5;
  /* line-height >=1.5 on all body text (not headlines) is WCAG recommended */
  -webkit-font-smoothing: antialiased;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
address {
  font-style: inherit;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
input {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
*:focus {
  outline: none;
}

/* =============================================================================
Global Styles
==============================================================================*/
body {
  color: var(--color-body-text-default);
}
.screen-reader-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/* =============================================================================
Navigation
==============================================================================*/
.nav {
  display: flex;
  flex-direction: column;
}
.nav li {
  margin-left: 1rem;
}
#main-nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem 4rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 3;
}
#footer-nav {
  margin: 0 auto;
}
.main-nav-links {
  display: none;
  text-transform: uppercase;
}
.mobile-nav {
  padding: 1rem;
}
.sign-in-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--color-body-text-default);
  padding: 0.25rem;
  text-transform: uppercase;
}
.logo {
  width: 15%;
}

/* =============================================================================
Page Content
==============================================================================*/
.cta-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.midpage-cta {
  background-color: var(--color-blue-blue5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  transition: all 0.2s ease-in-out;
}
.midpage-cta:nth-child(2) {
  background-color: var(--color-blue-blue2);
}
.midpage-cta:nth-child(3) {
  background-color: var(--color-blue-blue3);
}
.midpage-cta:hover {
  /* background-image: linear-gradient(180deg, rgba(59,59,59,.3) 0%, rgba(59,59,59,.3) 100%); */
  filter: brightness(1.25);
}
.featured-listings-wrapper {
  display: grid;
  gap: 1.5rem;
  margin: 1rem;
}
.featured-listings-headline {
  color: var(--color-blue-blue5);
  text-transform: uppercase;
  text-align: center;
  margin: 2.5rem auto;
}
.featured-listing {
  display: flex;
  justify-content: center;
}
.featured-home-image {
  filter: brightness(0.6);
  position: relative;
  z-index: 0;
  aspect-ratio: 1.498;
  object-fit: cover;
}
.featured-listing-link {
  position: relative;
}
.featured-listing-text {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  margin: 1rem;
}
/* =============================================================================
Footer
==============================================================================*/
.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.address-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-blue4);
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-blue-blue1);
  padding: 1rem;
  width: 100%;
}
.external-link-wrapper {
  display: flex;
  justify-content: center;
}
.external-link {
  padding: 0.5rem;
}
.copyright {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .cta-wrapper {
    flex-direction: row;
  }
  .featured-listings-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  }
  .address-content {
    flex-direction: row;
  }
  .footer-logo {
    width: 15%;
  }
}
@media (min-width: 1012px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobile-nav {
    display: none;
  }
  .midpage-cta {
    flex: 1 0 33%;
  }
}
