:root {
  --font-headline-family-default: 'Quicksand', sans-serif;
  --font-headline-weight-default: 400;
  --font-body-family-default: 'Josefin Sans', sans-serif;
  --font-body-weight-default: 400;
}

/* ----- Default typography ----- */
body {
  font-family: var(--font-body-family-default);
  font-weight: var(--font-body-weight-default);
}

.bold {
  font-weight: 700;
}
.display1 {
  font-family: var(--font-headline-family-default);
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1;
}
.display2 {
  font-size: 2.75rem;
  line-height: 1;
  font-weight: 500;
}
.display3 {
  font-size: 1.75rem;
  line-height: 1.25;
  font-weight: 500;
}
.display4 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 500;
}
